# --- Xcode & Apple ---
## Build results
build/
DerivedData/

## Usage Data
.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad
*.xcuserstate

## Various settings
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata

## Other
.DS_Store
*.swp
*~.nib

## Swift Package Manager
.build/
.swiftpm/

# --- Firebase & Node.js ---
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
.nyc_output

# Dependencies
node_modules/
bower_components
.npm
.eslintcache

# Misc
.node_repl_history
*.tgz
.yarn-integrity
.env
# Test Results
test-results/
result.json
.last-run.json
# --- Misc ---
