# Xcode
#
# gitignore contributors: scrollback, dcurrie, bluebox, akiasame, sebastianreuchsel

## Build results
build/
DerivedData/

## Usage Data
.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad
*.xcuserstate

## Various settings
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata

## Other
.DS_Store
*.swp
*~.nib

## Swift Package Manager
.build/
.swiftpm/

## CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should still check your project settings to see if it's right for you.
# Pods/
