<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzS4J2xZ3ShOzTE7G1eFXJyWyhNeMxRrg</string>
	<key>GCM_SENDER_ID</key>
	<string>297318170876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mekachis.PadeliOS</string>
	<key>PROJECT_ID</key>
	<string>padelscore-watch-1e0d3</string>
	<key>STORAGE_BUCKET</key>
	<string>padelscore-watch-1e0d3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297318170876:ios:1ff035b8d2ca7ccbc79779</string>
</dict>
</plist>